.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* 
.pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-item {
    margin-right: 0.5rem;
}

.page-item button {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    border: none;
    text-decoration: none;
    background-color: var(--primary-color);
    transition: linear 0.2s;
}

.page-item button:hover {
    background-color: #4caf50;
}

.page-item button.active-page {
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
} */


.pagination {
    display: flex;
    list-style: none;
    outline: none;
    margin: 100px 0 50px 0;
    justify-content: flex-end;
}

.pagination>.active>a {
    background-color: #47ccde;
    border-color: #47ccde;
    color: #fff;
}

.pagination>li>a {
    border: 1px solid #47ccde;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #47ccde;
    border-color: #47ccde;
    outline: none;
}

.pagination>li>a,
.pagination>li>span {
    color: #47ccde
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: unset
}